In [1]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [2]:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")

In [3]:
one.append(5)

In [4]:
two.append("f")

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
one.extend(two)

In [6]:
two.extend(one)

AttributeError: 'tuple' object has no attribute 'extend'

In [7]:
three = two + ("f", 'g')

In [8]:
three = one + two

TypeError: can only concatenate list (not "tuple") to list

In [16]:
my_lst = ['1', '3', '5', '7']

In [10]:
my_lst.sort()

In [14]:
my_lst.reverse()

In [17]:
my_lst

['1', '3', '5', '7']

In [18]:
my_lst[:, :, -1]

TypeError: list indices must be integers or slices, not tuple

In [19]:
my_lst[:-1]

['1', '3', '5']

In [20]:
my_dict = {'z': 1, 'd': 4, 'a': 1, 'b': 1}

In [21]:
my_dict.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [22]:
sorted(my_dict)

['a', 'b', 'd', 'z']

In [23]:
sorted(my_dict.keys())

['a', 'b', 'd', 'z']

In [24]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}

In [25]:
config['configuration']['ssh']['login']

'some'

In [29]:
for key, value in my_dict.keys().values():
    print(key, value)

AttributeError: 'dict_keys' object has no attribute 'values'

In [30]:
s = 'gdsh sfhsh sjhs tjr tsjrt jrtj srtj srftj'

In [31]:
''.join(s.split(' '))

'gdshsfhshsjhstjrtsjrtjrtjsrtjsrftj'

In [32]:
s.capitalise()

AttributeError: 'str' object has no attribute 'capitalise'

In [33]:
s.replace(' ', '')

'gdshsfhshsjhstjrtsjrtjrtjsrtjsrftj'

In [34]:
temperature = 12

In [35]:
remaining_time = 13

In [36]:
f'Температура: {temperature}, оставшееся время: {remaining_time}'

'Температура: 12, оставшееся время: 13'

In [37]:
"Температура: {temperature}, оставшееся время: {remaining_time}".format()

KeyError: 'temperature'

In [38]:
"Температура: {}, оставшееся время: {}".format(temperature,remaining_time)

'Температура: 12, оставшееся время: 13'

In [39]:
r'Температура: {temperature}, оставшееся время: {remaining_time}'

'Температура: {temperature}, оставшееся время: {remaining_time}'

In [40]:
s = '132215235426'

In [41]:
s.isalpha()

False

In [42]:
s.isnumeric()

True

In [43]:
c = (2, 2)
b = (1, 2)

In [49]:
while c < b:
    print(c, b)

In [51]:
c > b

False

In [53]:
print(range(10, 5, 180))

range(10, 5, 180)

In [57]:
for i in range(10, 181, 5):
    print(i)

10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180

In [59]:
# Функция чтения данных
def read_data():
    data = open('data/melb_data.csv', 'rt', encoding='utf-8').read()
    data = data.split('\n')
    return data


# Функция подсчёта частоты употребления слова в тексте
def freq(target_word):
    new_dict = dict()
    for i in data: # СТРОКА С ОШИБКОЙ
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] = new_dict.get(i) + 1
    return new_dict.get(target_word, 0)


# Вызов функций
read_data()
freq('война')

NameError: name 'data' is not defined

In [62]:
c = ['a', 'b', 'c']

a = lambda arg: arg if arg in c else 0
a('d')

0

In [66]:
import numpy

In [67]:
m = 10
n = 10

In [69]:
numpy.linspace(n, m)

array([10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
       10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.])

In [70]:
numpy.zeros(n, m)

TypeError: Cannot interpret '10' as a data type

In [71]:
numpy.zeros((n, m))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [72]:
import pandas as pd

In [100]:
users = pd.DataFrame([
    {
        'user_id': 1,
        'action': 1
    },
    {
        'user_id': 2,
        'action': 4
    },
    {
        'user_id': 3,
        'action': 7
    },
    {
        'user_id': 4,
        'action': 8
    },
    {
        'user_id': 5,
        'action': 10
    },
    {
        'user_id': 6,
        'action': 4
    },
    {
        'user_id': 7,
        'action': 1
    },
    {
        'user_id': 8,
        'action': 2
    },
])

In [101]:
users

   user_id  action
0        1       1
1        2       4
2        3       7
3        4       8
4        5      10
5        6       4
6        7       1
7        8       2

In [102]:
users.groupby('action')['user_id'].count().sort_values(ascending=False).iloc[:5]

action
1    2
4    2
2    1
7    1
8    1
Name: user_id, dtype: int64

In [103]:
users.groupby('user_id')['action'].count().sort_values(ascending=True).iloc[:5]

user_id
1    1
2    1
3    1
4    1
5    1
Name: action, dtype: int64

In [104]:
users.groupby('user_id')['action'].count().sort_values(ascending=False).loc[:5]

user_id
1    1
2    1
3    1
4    1
5    1
Name: action, dtype: int64

In [105]:
users.groupby('user_id')['action'].count().sort_values(ascending=False).loc[:5]

user_id
1    1
2    1
3    1
4    1
5    1
Name: action, dtype: int64

In [106]:
users.groupby('user_id')['action'].count().sort_values(ascending=False).iloc[:5]

user_id
1    1
2    1
3    1
4    1
5    1
Name: action, dtype: int64

In [109]:
users.groupby('action')['user_id'].count().sort_values(ascending=False).loc[:5]

KeyError: 5

In [119]:
def apply_discounts(products, stocks):
    """
    Напишите функцию apply_discounts(), которая снижает цену продуктов в словаре products на указанный в словаре stocks процент.
    Функция должна вернуть результирующий словарь, ключи которого — товары, а значения — новые цены.
    Если продукта из словаря stocks нет в словаре products, то его необходимо пропустить. Цены округлите до второго знака после запятой.
    """
    r = {}
    for p in products:
        if p in stocks:
            prs = int(stocks[p].replace('%', ''))
            r[p] = round(products[p] - products[p] * (prs / 100), 2)
        else:
            r[p] = products[p]
    return r


if __name__ == '__main__':
    products={
        "Oranges (packaged)": 114.99,
        "Candy (Rotfront)": 280.00,
        "Boiled sausage": 199.99,
        "Juice J7 (orange)": 119.99,
        "Trout (Seven Seas)": 399.99
    }
    stocks = {
        "Boiled sausage": "33%",
        "Juice J7 (orange)": "12%",
        "Trout (Seven Seas)": "18%"
    }
    new_products = apply_discounts(products, stocks)
    print(new_products)

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [125]:
import pandas as pd

bronze_path = 'data/bronze_top.csv'
silver_path = 'data/silver_top.csv'
"""
Объедините две таблицы по странам таким образом, чтобы в результат вошли данные только о тех странах, которые есть в обоих рейтингах.
При этом в качестве суффиксов для столбца c числом медалей укажите строки "_bronze" и "_silver", чтобы столбцы можно было различать.
Результат занесите в переменную merged.
"""
dfb = pd.read_csv(bronze_path)
dfs = pd.read_csv(silver_path)
print(dfb)
print(dfs)
merged = pd.merge(dfb, dfs, on='Country', suffixes=['_bronze', '_silver'])
print(merged)

          Country   Total
0   United States  1052.0
1    Soviet Union   584.0
2  United Kingdom   505.0
3          France   475.0
4         Germany   454.0
          Country   Total
0   United States  1195.0
1    Soviet Union   627.0
2  United Kingdom   591.0
3          France   461.0
4           Italy   394.0
          Country  Total_bronze  Total_silver
0   United States        1052.0        1195.0
1    Soviet Union         584.0         627.0
2  United Kingdom         505.0         591.0
3          France         475.0         461.0

In [129]:
solar_data = pd.read_csv('data/solarpower.zip')
display(solar_data)

           date  cum_power
0    2017-01-01    20111.0
1    2017-01-02    20112.0
2    2017-01-03    20115.0
3    2017-01-04    20117.0
4    2017-01-05    20119.0
..          ...        ...
659  2018-10-22    28101.0
660  2018-10-23    28109.0
661  2018-10-24    28115.0
662  2018-10-25    28117.0
663  2018-10-26    28120.0

[664 rows x 2 columns]

In [130]:
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [131]:
solar_data[solar_data['cum_power'] == -1]

           date  cum_power
45   2017-02-15       -1.0
647  2018-10-10       -1.0

In [132]:
solar_data['cum_power'].mean()

23775.573795180724

In [134]:
solar_data.iloc[44:47]

          date  cum_power
44  2017-02-14    20248.0
45  2017-02-15       -1.0
46  2017-02-16    20262.0

In [138]:
(solar_data['cum_power'][44] + solar_data['cum_power'][46]) / 2

20255.0

In [141]:
solar_data.loc['cum_power', 45] = 20255

In [142]:
solar_data.iloc[44:47]

          date  cum_power  45
44  2017-02-14    20248.0 NaN
45  2017-02-15    20255.0 NaN
46  2017-02-16    20262.0 NaN

In [143]:
solar_data.iloc[646:649]

           date  cum_power  45
646  2018-10-09    27986.0 NaN
647  2018-10-10       -1.0 NaN
648  2018-10-11    28010.0 NaN

In [146]:
solar_data.loc[647, 'cum_power'] = (solar_data['cum_power'][646] + solar_data['cum_power'][648]) / 2

In [147]:
solar_data.iloc[646:649]

           date  cum_power  45  647
646  2018-10-09    27986.0 NaN  NaN
647  2018-10-10    27998.0 NaN  NaN
648  2018-10-11    28010.0 NaN  NaN

In [149]:
round(solar_data['cum_power'].mean())

23848

In [150]:
solar_data['cum_power'].mean()

23848.246987951807